@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;400&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";
/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #6427bf;
  --purple-bg: #201536;
  --purple-dark: #10091f;
  --purple-light: #9254de;
  --purple-card: #3b2c5c;
  --orange: #ff5200;
  --purple-text: #b47ff4;
  --light: #fafaff;
  --blue: #5865f2;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif !important;
  color: var(--light);
}

a {
  color: inherit;
  text-decoration: none;
}

/* for firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--purple-dark) rgba(0, 0, 0, 0);
}

/* for non-firefox */
::-webkit-scrollbar {
  overflow: overlay;
  width: 8px;
}

::-webkit-scrollbar-track {
  display: initial;
}

::-webkit-scrollbar-thumb {
  background-color: var(--purple-dark);
  border-radius: 5px;
}

html,
body,
#__next {
  background-color: var(--purple-bg);
  height: 100%;
  width: 100%;
}

/* Nprogress */
#nprogress {
  position: relative;
  z-index: 9999999;
}

#nprogress .bar {
  background: var(--orange) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--orange), 0 0 5px var(--orange) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--orange) !important;
  border-left-color: var(--orange) !important;
}

/* React Image Galery */
.image-gallery-thumbnails .image-gallery-thumbnails-container {
  text-align: left !important;
}

.image-gallery img{
  border-radius: 5px !important;
}

/* utilities */

.custom-input {
  @apply rounded bg-purpleCust-dark border-2 focus:border-purpleCust-light border-purpleCust;
}

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
